<section class="section-three" id="about">
    <div data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="200">
        <p class="aboutme">About Me</p>
        <h3 class="about-quote">A Passionate Developer Who <br> Loves to Code</h3>
    </div>
    <div class="sub-section-three">
        <div class="leftside1" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos-delay="200">
            <div class="topimg">
                <div class="badge-icon"><i class="fa-solid fa-medal"></i></div>
                <img class="img1" src="images/person/person-2.jpg" alt="">
            </div>
            <img class="img2" src="images/person/images (1).jpeg" alt="">
        </div>

        <div class="rightside1" data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="ease-in-out"
            data-aos-delay="200">
            <h3 class="aboutme2">About Me</h3>
            <p class="aboutme-para">To leverage my skills in front-end and back-end development, gained through my Full
                Stack Developer internship, to contribute to innovative projects. Seeking to apply my technical
                expertise and passion for coding in a dynamic environment where I can grow professionally and add value
                to the team.</p>
            <!-- <div class="list">
                <ul class="sub-list">
                    <li>
                        <ul class="item item1">
                            <li>
                                <span>Name</span>
                                <p>Wasim Afreeth Z</p>
                            </li>
                            <li>
                                <span>Email</span>
                                <p>wasimafreeth36&#64;gmail.com</p>
                            </li>
                            <li>
                                <span>Phone</span>
                                <p>+91-9940943266</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="item item2">
                            <li>
                                <span>Location</span>
                                <p>Karaikal, Puducherry</p>
                            </li>
                            <li>
                                <span>Degree</span>
                                <p>MSc Computer Science</p>
                            </li>
                            <li>
                                <span>Freelance</span>
                                <p>Available</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> -->
            <div class="about-details">
                <div class="about-left">
                    <div>
                        <p class="key">Name</p>
                        <p class="value">Wasim Afreeth Z</p>
                    </div>
                    <div>
                        <p class="key">Email</p>
                        <p class="value">wasimafreeth36&#64;gmail.com</p>
                    </div>
                    <div>
                        <p class="key">Phone</p>
                        <p class="value">+91-9940943266</p>
                    </div>
                </div>
                <div class="about-right">
                    <div>
                        <p class="key">Location</p>
                        <p class="value">Karaikal, Puducherry</p>
                    </div>
                    <div>
                        <p class="key">Degree</p>
                        <p class="value">Master Degree</p>
                    </div>
                    <div>
                        <p class="key">Freelance</p>
                        <p class="value">Available</p>
                    </div>
                </div>
            </div>
            <a href="Resume/Wasim Resume.pdf" download class="connect"><span class="but">Download
                    CV</span></a>
        </div>
    </div>

    <div class="count flex justify-between" data-aos="flip-left" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <div class=" flex gap-x-5 bg-[#432d92] p-[50px] rounded-xl items-center">
            <p class="text-[#00c0ff] text-6xl font-semibold">4+</p>
            <p class="text-white text-[17px] font-medium">Project <br> Done</p>
        </div>
        <div class="flex gap-x-5 bg-[#432d92] py-[50px] px-[35px] rounded-xl items-center">
            <p class="text-[#00c0ff] text-5xl font-semibold">80%</p>
            <p class="text-white text-[17px] font-medium">UG <br> Degree</p>
        </div>
        <div class="flex gap-x-5 bg-[#432d92] py-[50px] px-[40px] rounded-xl items-center">
            <p class="text-[#00c0ff] text-5xl font-semibold">76%</p>
            <p class="text-white text-[17px] font-medium">PG <br> Degree</p>
        </div>
    </div>
</section>