<section class="orderplaced py-10 flex flex-col justify-center items-center h-full">
    <!-- <div class="text-[150px] text-[#DE0530]"><i class="fa-solid fa-circle-check shadow-[0px_8px_31px_0px_#DE0530] rounded-full "></i></div> -->
    <div class="wrapper  shadow-[0px_8px_31px_0px_#00c0ff] rounded-full mb-10"> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
    </div>
    <p class="text-[30px] font-semibold">Success!</p>
    <p class="text-[20px] message font-medium">Message Successfully Submitted</p>
    <div class="flex gap-x-4 mt-10">
        <button (click)=" close()" class="outline-none px-16 py-2 border-2 rounded-lg font-medium bg-[#00c0ff] text-white border-[#00c0ff] hover:bg-white hover:text-black">Close</button>
    </div>
</section>